# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
.env.development
.env.production
.env.example
node_modules
dist/
# Supabase scripts
supabase/import-data.mjs
supabase/*.mjs

dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
json_to_sql.py
.env.local

# Local Netlify folder
.netlify

# Dumps de base de données (générés localement)
/*.sql
